<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->

<head>
    <meta charset="utf-8" />
    <title>zierp 登录</title>
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--Beyond styles-->
    <link id="beyond-link" href="/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <style>
        .loginbox-textbox img{
            width: 100%;
        }
        .tpcode{
            width:45%;float:left;display: inline-block;
        }
        .tpcode_img{
            width: 45% !important;
            margin-left: 10px;
        }
    </style>
</head>
<!--Head Ends-->
<!--Body-->

<body>
    <div class="login-container animated fadeInDown">
        <form action="" method="post" id="login_from" >
            <div class="loginbox bg-white">
                <div class="loginbox-title">ZIERP 系统登录</div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" placeholder="用户名" name="username" />
                </div>
                <div class="loginbox-textbox">
                    <input type="password" class="form-control" placeholder="密码" name="password" />
                </div>
                <div class="loginbox-textbox">
                    <input type="code" class="form-control tpcode" placeholder="验证码" name="code" >
                    <img src="{:captcha_src()}?t={:rand(10000,99999)}" class="tpcode_img" alt="" onclick="this.src='{:captcha_src()}?t='+Math.random()">
                </div>

                <div class="loginbox-submit">
                    <input type="button" id="login" class="btn btn-primary btn-block" value="登录">
                </div>
            </div>
        </form>
    </div>
    <!--Basic Scripts-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <!--Beyond Scripts-->
    <script src="/assets/js/beyond.js"></script>
    <script src="/assets/js/layer.js"></script>

    <script>
        //按键盘回车登录
        $(document).keydown(function(e){
            if(e.keyCode == 13){
                login();
            }
        })

        $('#login').click(function(){
            login();
        })
        function login(){
            if($('input[name="username"]').val() == ''){
                layer.alert('用户名不能为空!');
                return false;
            }
            if($('input[name="password"]').val() == ''){
                layer.alert('密码不能为空！');
                return false;
            }
            if($('input[name="code"]').val() == ''){
                layer.alert('验证码不能空！');
                return false;
            }
            $.ajax({
                url:"{:url('Login/index')}",
                type:'post',
                data:$('#login_from').serialize(),
                success:function(data){
                    if(data.code == 0){
                        layer.msg(data.msg,{end:function(){
                            window.location.href = "{:url('Index/index')}"
                        }})
                    }else{
                        layer.msg(data.msg,{time:1000,end:function(){
                            $(".tpcode_img").attr('src','{:captcha_src()}?t='+Math.random())
                        }});
                    }
                }
            })
        }
    </script>
</body>


</html>
